/* Main View */
.container {
  padding: 10px;
}


/* Top Bar */

input[type=text] {
  width: 91%;
  display: inline-block;
  margin: 8px 0px;
  padding: 8px 8px;
  border-radius: 3px;
  border: 1px solid black;
}

.btn1 {
  background-color: #ad793e;
  border: none;
  border-radius: 2px;
  padding: 9px 10px;
  margin: 9px;
}

.barPosition {
  display: flex;
  flex-direction: row;
}



/* Card Board */
.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


/* User Card */

.cardPosition {
  display: flex;
  flex-direction: row;
}

.userCard {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #c3c3c3;
  padding: 7px;
  width: 250px;
  height: 110px;
  margin: 5px
}


.list {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
}


/* User Avatar*/

img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}


/* User Item */
p {
  margin: 8px 0px;
}

.btn3 {
  margin-top: 15px;
}

/* Add User */
.addContainer {
  margin-top: 20px;
}

.add {
  margin: auto;
  width: 40%;
}

input[name=name] {
  width: 100%;
  display: inline-block;
  margin: 4px 0px;
  padding: 12px 0px;
  border-radius: 3px;
  border: 1px solid black;
}

input[name=phone] {
  width: 100%;
  display: inline-block;
  margin: 4px 0px;
  padding: 12px 0px;
  border-radius: 3px;
  border: 1px solid black;
}

.addButton {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.btn2 {
  width: 49%;
  background-color: #ad793e;
  border: none;
  border-radius: 2px;
  padding: 12px 0px;
  color: white;
}