/* Main View */
.container {
  padding: 5% 25%;
}

/* Top Bar */

input[type=text] {
  width: 91%;
  display: inline-block;
  margin: 8px 0px;
  padding: 8px 8px;
  border-radius: 3px;
  border: 1px solid black;
}

.btn1 {
  background-color: #ad793e;
  border: none;
  border-radius: 2px;
  padding: 9px 10px;
  margin: 9px;
}

.barPosition {
  display: flex;
  flex-direction: row;
}



/* Card Board */
.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


/* User Card */

.cardPosition {
  display: flex;
  flex-direction: row;
}

.userCard {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #c3c3c3;
  padding: 7px;
  width: 250px;
  height: 110px;
  margin: 5px
}


.list {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.list2 {
  width: 50%;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

input[id=name],[id=phone] {
  width: 90%;
  padding: 3px;
}

/* User Avatar*/

img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
}


/* User Item */
p {
  margin: 8px 0px;
}

.btn3 {
  margin-top: 15px;
}

/* Add User */
.addContainer {
  margin-top: 20px;
}

.add {
  padding-top: 20px;
  margin: auto;
  width: 40%;
}

input[name=add] {
  width: 100%;
  display: inline-block;
  margin: 4px 0px;
  padding: 12px 0px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid black;
  box-sizing: border-box;
}

.addButton {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.btn2 {
  width: 49%;
  background-color: #ad793e;
  border: none;
  border-radius: 2px;
  padding: 12px 0px;
  color: white;
}

.form1 {
  justify-content: center;
}

.avatar{
  display: flex;
  flex-direction: column;
}

.foot2 {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.body {
  background-color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.input-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btnAva {
  background-color: #ad793e;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  margin-right: 8px;
}